@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');

body{background: #fff; list-style: none; text-decoration: none;
    position: relative;}





/* main */
.main{width: 100%; height: 938px; }
.main>h1{font-family: 'Gothic A1', sans-serif; color: #009ccf;
      font-size: 200px; font-weight: 800; 
     position: absolute; top: 300px; left: 340px;}
/* .main>div{border: 1px solid green; width: 1172px; height: 300px; 
         position: absolute; top: 500px; left: 340px;} */
.main>div>p{color: #009ccf; font-size: 50px; position: absolute;
        top: 500px; left: 1340px; font-weight: 1000;}

/* top메뉴 */

.header{z-index: 1000; position: fixed; height: 100px; width: 100%;top: 0; display: none;}
.header>.topMenu{ position: relative;
    display: inline; }
.header>.topMenu>.menu{position: absolute; left: 50px; top: 25px;
        color: #fff; font-size:40px;}
.header>.topMenu>.up{position: absolute; left: 45px; top: 80px;
      color: #fff; font-size: 40px;}
/*  
.topMenu{ height: 70px; width: 100%; position: relative;
         display: inline; }
.topMenu>.menu{position: absolute; left: 1425px; top: 25px;
               color: #fff; font-size:40px;}
.topMenu>.up{position: absolute; left: 50px; top: 25px;
             color: #fff; font-size: 40px;}*/

/* submenu */
.subMenu{top: 0;left: 0; width: 100%; height: 0%; }

/* profile */
.profile{width: 100%;height: 938px;  position: relative;}
.profile>h2{font-size: 70px; color: #009ccf; font-weight: 800;
            position: absolute; top: 200px; left: 850px;}

.profile>ul{color: #009ccf; font-size: 30px; font-weight: 600;
            position: absolute;
            top: 350px; left: 750px;}
.profile>ul>li:nth-of-type(1)>span{padding-left: 160px;}
.profile>ul>li>span{padding-left: 100px;}

/* 깃허브버튼 */
.profile>.github{font-size: 33px;  font-weight: 600;
                 width: 160px; height: 50px; padding: 0 7px 5px 0;
                 background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
                position: absolute; top: 550px; left: 870px;}
.profile>.github i{color: #009ccf; font-size: 26px; padding:0 10px 0 10px;}
.profile>.github a{text-decoration: none; color: #fff;}
.profile>.github:hover{ transform: scale(0.9);}
.profile>.github:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}

/* 버튼 */


/* sub1 */
.sub1{width: 100%;height: 938px;    position: relative;
    background: linear-gradient(to bottom, #fff 0%,#64d5fa 20%, #009ccf 50%,#64d5fa 80%, #fff 100%);}

/* 깃허브버튼 */
.sub1>.github{font-size: 25px; 
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgba(0,156,207) 0%, 
    rgb(255, 255, 255) 90%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(255,255,255);
   position: absolute; top: 180px; left: 1360px;  font-weight: 600;}
.sub1>.github a{text-decoration: none; color: #fff;}
.sub1>.github a i{color: #fff;font-size: 20px; padding:0 5px 0 10px;}

.sub1>.github:hover{ transform: scale(0.9);}
.sub1>.github:hover a{ text-shadow: 0 0 5px rgb(0,156,207);}


.sub1>.main{font-size: 25px;  font-weight: 600;
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgba(0,156,207) 0%, 
    rgb(255, 255, 255) 90%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(255,255,255);
   position: absolute; top: 180px;  left: 1217px;}
.sub1>.main a i{color: #fff; font-size: 26px; padding:0 10px 0 10px;}
.sub1>.main a{text-decoration: none; color: #fff; padding-left: 8px;}

.sub1>.main:hover{ transform: scale(0.9);}
.sub1>.main:hover a{ text-shadow: 0 0 5px rgb(0,156,207);}
/* 버튼 */

.sub1>p img{position: absolute; top: 250px; left: 1217px;}

.sub1>.sub2_inner{position: relative;right: 0;
       width: 50%; height:  938px;
    }


.sub1>.sub1_inner>h2:nth-child(1){font-size: 60px; color: #fff;  font-weight: 800;
            position: absolute;
            left: 280px; top: 165px;}
.sub1>.sub1_inner>h2:nth-child(1) span{color: #657889;font-weight: 800; }

.sub1>.sub1_inner>h2:nth-child(2){color: #fff;  font-weight: 800; line-height: 1.2;
             position: absolute; font-size: 60px;
             left: 360px; top: 170px;}

.sub1>.sub1_inner>ul{position: absolute; top: 450px; left: 370px;
                     color: #fff; font-weight: 600; font-size: 20px;}
.sub1>.sub1_inner>ul>li:nth-of-type(1) span{padding-left: 20px;}
.sub1>.sub1_inner>ul>li:nth-of-type(2) span{padding-left: 40px;}

.sub1>.sub1_inner>p{position: absolute; top: 550px; left: 350px;
                    color: #fff; font-weight: 600; font-size: 20px;}



/* sub2 */
.sub2{width: 100%; height: 938px; position: relative;}

.sub2>.sub2_title{position: relative;
        animation: ani2 1s ease-in 0s; }
.sub2>.sub2_title>h2:nth-child(1){font-size: 60px; color: #009ccf;  font-weight: 800;
            position: absolute;
            right: 540px; top: 150px;}
.sub2>.sub2_title>h2:nth-child(1) span{color: #657889;font-weight: 800; }

.sub2>.sub2_title>h2:nth-child(2){color: #009ccf;  font-weight: 800; line-height: 1.2;
             position: absolute;
             right:365px;top: 165px;}
.sub2>.sub2_title>h2:nth-child(2) span:nth-of-type(1){font-size: 35px;padding: 0 0 0 25px; }
.sub2>.sub2_title>h2:nth-child(2) span:nth-of-type(2){font-size: 35px;padding-left: 15px;}
.sub2>.sub2_title>h2:nth-child(2) span:nth-of-type(3){font-size: 60px;}

.sub2>.sub2_inner{font-size: 20px; color: #009ccf;  font-weight: 600;
    width: 100%; height: 469px;
    position: relative; top: 469px;
}
.sub2>.sub2_inner>ul:nth-of-type(1){position: absolute; top: 80px; right: 510px;}
.sub2>.sub2_inner>ul:nth-of-type(2){position: absolute; top: 80px; right: 180px;}

.sub2>.sub2_inner>ul:nth-of-type(1)>li{padding-bottom: 5px;}
.sub2>.sub2_inner>ul:nth-of-type(2)>li{padding-bottom: 30px;}

.sub2>.sub2_inner>ul:nth-of-type(1)>li:nth-of-type(1) span{padding-left: 20px;}
.sub2>.sub2_inner>ul:nth-of-type(1)>li:nth-of-type(2) span{padding-left: 40px;}


/* 깃허브버튼 */
.sub2>.sub2_inner>.github{font-size: 25px; 
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
    position: absolute; top: 170px; left: 1210px; font-weight: 600;}
.sub2>.sub2_inner>.github a{text-decoration: none; color: #fff;}
.sub2>.sub2_inner>.github a i{color: #fff;font-size: 20px; padding:0 5px 0 10px;}

.sub2>.sub2_inner>.github:hover{ transform: scale(0.9);}
.sub2>.sub2_inner>.github:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}


.sub2>.sub2_inner>.main{font-size: 25px;  font-weight: 600;
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
   position: absolute; top: 170px;  left: 1070px;}
.sub2>.sub2_inner>.main a i{color: #fff; font-size: 26px; padding:0 10px 0 10px;}
.sub2>.sub2_inner>.main a{text-decoration: none; color: #fff; padding-left: 8px;}

.sub2>.sub2_inner>.main:hover{ transform: scale(0.9);}
.sub2>.sub2_inner>.main:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}
/* 버튼 */

.sub2>.mockup{z-index: 800; position: absolute; width: 55%; height: 938px; 
              top: 0;}
.sub2>.mockup>p:nth-of-type(1) img{width: 700px; height: 400px; position: absolute; top: 150px; left: 150px;}
.sub2>.mockup>p:nth-of-type(2) img{width: 280px; height: 350px;position: absolute; top: 380px; left: 720px;}
.sub2>.mockup>p:nth-of-type(3) img{width: 270px; height: 300px;position: absolute; top: 400px; left: 60px;}

.sub2>.img>p:nth-of-type(1){z-index: 700; position: absolute; top:200px; left: 241px;
    width: 521px; height: 300px; overflow: hidden;}
.sub2>.img>p:nth-of-type(1) img{ width: 521px; position: absolute;
            animation: locknlock 5s ease-in Infinite Alternate;}

.sub2>.img>p:nth-of-type(2){z-index: 800; width: 260px; height: 330px; 
                            position: absolute; top: 390px; left: 730px; border-radius: 10px; overflow: hidden;}
.sub2>.img>p:nth-of-type(2) img{z-index: 800; width: 260px; position: absolute;
                               animation: lockta 5s ease-in Infinite Alternate;}

.sub2>.img>p:nth-of-type(3){z-index: 800; position: absolute; top: 416px; left: 133px;border-radius: 20px;
                             width: 125px; height: 266px;overflow: hidden;}
.sub2>.img>p:nth-of-type(3) img{width:125px;position: absolute;
                                 animation: lockph 5s ease-in Infinite Alternate;}

@keyframes locknlock {
    0%{top: 0;}
    100%{top: -2530px;}
}

@keyframes lockta {
    0%{top: 0;}
    100%{top: -1950px;}
}

@keyframes lockph {
    0%{top: 0;}
    100%{top: -1050px;}
}

/* sub3 */
.sub3{width: 100%; height: 938px; position: relative;}

.sub3>.sub3_title{position: relative;
        animation: ani2 1s ease-in 0s; }
.sub3>.sub3_title>h2:nth-child(1){font-size: 60px; color: #009ccf;  font-weight: 800;
            position: absolute;
            right: 560px; top: 150px;}
.sub3>.sub3_title>h2:nth-child(1) span{color: #657889;font-weight: 800; }

.sub3>.sub3_title>h2:nth-child(2){color: #009ccf;  font-weight: 800; line-height: 1.2;
    position: absolute; font-size: 60px;
    right: 320px; top: 170px;}

.sub3>.sub3_inner{font-size: 20px; color: #009ccf;  font-weight: 600;
    width: 100%; height: 469px; background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%);
    position: relative; top: 469px;
}
.sub3>.sub3_inner>ul:nth-of-type(1){position: absolute; top: 80px; right: 510px;}
.sub3>.sub3_inner>ul:nth-of-type(2){position: absolute; top: 80px; right: 180px;}

.sub3>.sub3_inner>ul:nth-of-type(1)>li{padding-bottom: 5px;}
.sub3>.sub3_inner>ul:nth-of-type(2)>li{padding-bottom: 30px;}

.sub3>.sub3_inner>ul:nth-of-type(1)>li:nth-of-type(1) span{padding-left: 20px;}
.sub3>.sub3_inner>ul:nth-of-type(1)>li:nth-of-type(2) span{padding-left: 40px;}

/* 깃허브버튼 */
.sub3>.sub3_inner>.github{font-size: 25px; 
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
    position: absolute; top: 170px; left: 1320px; font-weight: 600;}
.sub3>.sub3_inner>.github a{text-decoration: none; color: #fff;}
.sub3>.sub3_inner>.github a i{color: #fff;font-size: 20px; padding:0 5px 0 10px;}

.sub3>.sub3_inner>.github:hover{ transform: scale(0.9);}
.sub3>.sub3_inner>.github:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}


.sub3>.sub3_inner>.main{font-size: 25px;  font-weight: 600;
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
   position: absolute; top: 170px; left: 1180px; }
.sub3>.sub3_inner>.main a i{color: #fff; font-size: 26px; padding:0 10px 0 10px;}
.sub3>.sub3_inner>.main a{text-decoration: none; color: #fff; padding-left: 8px;}

.sub3>.sub3_inner>.main:hover{ transform: scale(0.9);}
.sub3>.sub3_inner>.main:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}
/* 버튼 */

.sub3>.mockup{z-index: 800; position: absolute; width: 55%; height: 938px; 
              top: 0;}
.sub3>.mockup>p img{width: 700px; height: 400px; position: absolute; top: 150px; left: 150px;}

.sub3>.img>p{z-index: 700; position: absolute; top:200px; left: 241px;
    width: 521px; height: 300px;  overflow: hidden;}
.sub3>.img>p img{ width: 521px; position: absolute; 
            animation: sam 2s ease-in Infinite Alternate;}

 @keyframes sam {
    0%{top: 0;}
    100%{top: -1180px;}
}          

 /* sub4 */
.sub4{width: 100%; height: 938px; position: relative;
    background: linear-gradient(to bottom,rgba(0,156,207,0.8) 0%, 
     rgb(255, 255, 255,0.8) 80%);}

.sub4>.sub4_title{position: relative;
        animation: ani2 1s ease-in 0s; }
.sub4>.sub4_title>h2:nth-child(1){font-size: 60px; color: #fff;  font-weight: 800;
            position: absolute;
            right: 560px; top: 150px;}
.sub4>.sub4_title>h2:nth-child(1) span{color: #657889;font-weight: 800; }

.sub4>.sub4_title>h2:nth-child(2){color: #fff;  font-weight: 800; line-height: 1.2;
             position: absolute; font-size: 60px;
             right:  330px; top: 170px;}

.sub4>.sub4_inner{font-size: 20px; color: #009ccf;  font-weight: 600;
    width: 100%; height: 469px;
    position: relative; top: 469px;
}
.sub4>.sub4_inner>ul:nth-of-type(1){position: absolute; top: 80px; right: 510px;}
.sub4>.sub4_inner>ul:nth-of-type(2){position: absolute; top: 80px; right: 180px;}

.sub4>.sub4_inner>ul:nth-of-type(1)>li{padding-bottom: 5px;}
.sub4>.sub4_inner>ul:nth-of-type(2)>li{padding-bottom: 30px;}

.sub4>.sub4_inner>ul:nth-of-type(1)>li:nth-of-type(1) span{padding-left: 20px;}
.sub4>.sub4_inner>ul:nth-of-type(1)>li:nth-of-type(2) span{padding-left: 40px;}

/* 깃허브버튼 */
.sub4>.sub4_inner>.github{font-size: 25px; 
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
    position: absolute; top: 170px; left: 1210px; font-weight: 600;}
.sub4>.sub4_inner>.github a{text-decoration: none; color: #fff;}
.sub4>.sub4_inner>.github a i{color: #fff;font-size: 20px; padding:0 5px 0 10px;}

.sub4>.sub4_inner>.github:hover{ transform: scale(0.9);}
.sub4>.sub4_inner>.github:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}


.sub4>.sub4_inner>.main{font-size: 25px;  font-weight: 600;
    width: 115px; height: 35px; padding: 0 7px 5px 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255,0.8) 0%, 
    rgba(0,156,207,0.8) 80%); border-radius: 30px; 
    box-shadow: 5px 5px 10px -5px inset rgba(2, 145, 192, 0.8);
   position: absolute; top: 170px;  left: 1070px;}
.sub4>.sub4_inner>.main a i{color: #fff; font-size: 26px; padding:0 10px 0 10px;}
.sub4>.sub4_inner>.main a{text-decoration: none; color: #fff; padding-left: 8px;}

.sub4>.sub4_inner>.main:hover{ transform: scale(0.9);}
.sub4>.sub4_inner>.main:hover a{ text-shadow: 0 0 5px rgb(255,255,255);}
/* 버튼 */


.sub4>.mockup{z-index: 800; position: absolute; width: 55%; height: 938px; 
              top: 0;}
.sub4>.mockup>p img{width: 700px; height: 400px; position: absolute; top: 150px; left: 150px;}

.sub4>.img>p{z-index: 700; position: absolute; top:200px; left: 241px;
    width: 521px; height: 300px; overflow: hidden;}
.sub4>.img>p img{ width: 521px; position: absolute; 
            animation: cj 1.5s ease-in Infinite Alternate;}
          
 @keyframes cj {
    0%{top: 0;}
    100%{top: -620px;}
}          


/* footer */
.footer{width: 100%;height: 938px;  position: relative;}
.footer>h2{font-size:100px; color: #009ccf; font-weight: 800;
     position: absolute; top: 300px; left: 650px;}
.footer>p{font-size: 20px; color: #657889; font-weight: 600; 
    position: absolute; top: 450px;left:720px;}
